<ion-header>
  <ion-toolbar>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" color="tertiary">
  <ion-label >Usuario: <!--{{data.Usuario}}--></ion-label>
  <div class="title">
    <h2>{{congratulations}}</h2>
    <p>{{start}}</p>
    <img src="/src/assets/inicio.png" class="inicio" />
  </div>
  

  
  <div class="ion-margin-top">
    <ion-button shape="block" (click)="logout()"button ion-button block color="danger">Cerrar Sesion</ion-button>
  </div>
  

</ion-content>